<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodrecipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/foodlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/foodlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodRecipe">
        <activity android:name=".Thepla"></activity>
        <activity android:name=".Max10" />
        <activity android:name=".Max9" />
        <activity android:name=".Max8" />
        <activity android:name=".Max7" />
        <activity android:name=".Max6" />
        <activity android:name=".Max5" />
        <activity android:name=".Max4" />
        <activity android:name=".Max3" />
        <activity android:name=".Max2" />
        <activity android:name=".Max1" />
        <activity android:name=".Fast10" />
        <activity android:name=".Fast9" />
        <activity android:name=".Fast8" />
        <activity android:name=".Fast7" />
        <activity android:name=".Fast6" />
        <activity android:name=".Fast5" />
        <activity android:name=".Fast4" />
        <activity android:name=".Fast3" />
        <activity android:name=".Fast2" />
        <activity android:name=".Fast1" />
        <activity android:name=".Save" />
        <activity android:name=".Notes" />
        <activity android:name=".Mexicon" />
        <activity android:name=".FastFood" />
        <activity android:name=".DalPakwan" />
        <activity android:name=".DalMhakhni" />
        <activity android:name=".Biryani" />
        <activity android:name=".Pasta" />
        <activity android:name=".ChesseKh" />
        <activity android:name=".DalK" />
        <activity android:name=".TfriedRice" />
        <activity android:name=".Pulav" />
        <activity android:name=".Tomato4" />
        <activity android:name=".Tomato3" />
        <activity android:name=".Tomato2" />
        <activity android:name=".Tomato1" />
        <activity android:name=".SweetPotato2" />
        <activity android:name=".SweetPotato1" />
        <activity android:name=".SpringOnion2" />
        <activity android:name=".SpringOnion1" />
        <activity android:name=".Spinach2" />
        <activity android:name=".Spinach1" />
        <activity android:name=".RedChilli2" />
        <activity android:name=".RedChilli1" />
        <activity android:name=".Radish4" />
        <activity android:name=".Radish3" />
        <activity android:name=".Radish2" />
        <activity android:name=".Radish1" />
        <activity android:name=".Pumpkin4" />
        <activity android:name=".Pumpkin3" />
        <activity android:name=".Pumpkin2" />
        <activity android:name=".Pumpkin1" />
        <activity android:name=".Potato7" />
        <activity android:name=".Potato6" />
        <activity android:name=".Potato5" />
        <activity android:name=".Potato4" />
        <activity android:name=".Potato3" />
        <activity android:name=".Potato2" />
        <activity android:name=".Potato1" />
        <activity android:name=".Peppermint2" />
        <activity android:name=".Peppermint1" />
        <activity android:name=".Peas4" />
        <activity android:name=".Peas3" />
        <activity android:name=".Peas2" />
        <activity android:name=".Peas1" />
        <activity android:name=".Onion4" />
        <activity android:name=".Onion3" />
        <activity android:name=".Onion2" />
        <activity android:name=".Onion1" />
        <activity android:name=".Mushroom3" />
        <activity android:name=".Mushroom2" />
        <activity android:name=".Mushroom1" />
        <activity android:name=".LadyFinger4" />
        <activity android:name=".LadyFinger3" />
        <activity android:name=".LadyFinger2" />
        <activity android:name=".LadyFinger1" />
        <activity android:name=".keri3" />
        <activity android:name=".keri2" />
        <activity android:name=".keri1" />
        <activity android:name=".Greenchilli3" />
        <activity android:name=".Greenchilli2" />
        <activity android:name=".Greenchilli1" />
        <activity android:name=".Garlic3" />
        <activity android:name=".Garlic2" />
        <activity android:name=".Garlic1" />
        <activity android:name=".FenugreekLeaf4" />
        <activity android:name=".FenugreekLeaf3" />
        <activity android:name=".FenugreekLeaf2" />
        <activity android:name=".FenugreekLeaf1" />
        <activity android:name=".CorianderLeaf2" />
        <activity android:name=".CorianderLeaf1" />
        <activity android:name=".ClusterBeans3" />
        <activity android:name=".ClusterBeans2" />
        <activity android:name=".ClusterBeans1" />
        <activity android:name=".Cauliflower3" />
        <activity android:name=".Cauliflower2" />
        <activity android:name=".Cauliflower1" />
        <activity android:name=".Carrot4" />
        <activity android:name=".Carrot3" />
        <activity android:name=".Carrot2" />
        <activity android:name=".Carrot1" />
        <activity android:name=".Capsicum7" />
        <activity android:name=".Capsicum6" />
        <activity android:name=".Capsicum5" />
        <activity android:name=".Capsicum4" />
        <activity android:name=".Capsicum3" />
        <activity android:name=".Capsicum2" />
        <activity android:name=".Capsicum1" />
        <activity android:name=".Cabbage7" />
        <activity android:name=".Cabbage6" />
        <activity android:name=".Cabbage5" />
        <activity android:name=".Cabbage4" />
        <activity android:name=".Cabbage3" />
        <activity android:name=".Cabbage2" />
        <activity android:name=".Cabbage1" />
        <activity android:name=".BitterMelon6" />
        <activity android:name=".BitterMelon5" />
        <activity android:name=".BitterMelon4" />
        <activity android:name=".BitterMelon3" />
        <activity android:name=".BitterMelon2" />
        <activity android:name=".BitterMelon1" />
        <activity android:name=".Brinjal4" />
        <activity android:name=".Brinjal3" />
        <activity android:name=".Brinjal2" />
        <activity android:name=".Brinjal1" />
        <activity android:name=".BengalGram4" />
        <activity android:name=".BengalGram3" />
        <activity android:name=".BengalGram2" />
        <activity android:name=".CornNext2" />
        <activity android:name=".CorianderLeaf" />
        <activity android:name=".Dinner" />
        <activity android:name=".BengalGramNext" />
        <activity android:name=".CornNext" />
        <activity android:name=".keri" />
        <activity android:name=".BitterMelon" />
        <activity android:name=".Pumpkin" />
        <activity android:name=".Cabbage" />
        <activity android:name=".SweetPotato" />
        <activity android:name=".SpringOnion" />
        <activity android:name=".Spinach" />
        <activity android:name=".Radish" />
        <activity android:name=".Peppermint" />
        <activity android:name=".Peas" />
        <activity android:name=".Mushroom" />
        <activity android:name=".Greenchilli" />
        <activity android:name=".LadyFinger" />
        <activity android:name=".Garlic" />
        <activity android:name=".Potato" />
        <activity android:name=".Onion" />
        <activity android:name=".FenugreekLeaf" />
        <activity android:name=".Capsicum" />
        <activity android:name=".BengalGram" />
        <activity android:name=".Brinjal" />
        <activity android:name=".ClusterBeans" />
        <activity android:name=".Tomato" />
        <activity android:name=".Carrot" />
        <activity android:name=".RedChilli" />
        <activity android:name=".Cauliflower" />
        <activity android:name=".Nankhati" />
        <activity android:name=".Shrikhand" />
        <activity android:name=".Soanpapdi" />
        <activity android:name=".Halwa" />
        <activity android:name=".Sandesh" />
        <activity android:name=".Malpua" />
        <activity android:name=".Mysore" />
        <activity android:name=".Barfi" />
        <activity android:name=".Modak" />
        <activity android:name=".Petha" />
        <activity android:name=".Pherni" />
        <activity android:name=".Gujiya" />
        <activity android:name=".Peda" />
        <activity android:name=".Rabri" />
        <activity android:name=".Rasmali" />
        <activity android:name=".Rasgulla" />
        <activity android:name=".Ladoo" />
        <activity android:name=".Kalakand" />
        <activity android:name=".Jalebi" />
        <activity android:name=".Ghewar" />
        <activity android:name=".GulabJamun" />
        <activity android:name=".KajuKatli" />
        <activity android:name=".Sandwich" />
        <activity android:name=".GarlicBread" />
        <activity android:name=".Dosa" />
        <activity android:name=".AlooParatha" />
        <activity android:name=".Poha" />
        <activity android:name=".SoyaDosa" />
        <activity android:name=".Idli" />
        <activity android:name=".Upma" />
        <activity android:name=".BreakfastVideo" />
        <activity android:name=".Breakfast" />
        <activity android:name=".Sweet1" />
        <activity android:name=".Sweet" />
        <activity android:name=".DalFry" />
        <activity android:name=".AlooPanner" />
        <activity android:name=".ChannaButter" />
        <activity android:name=".ShahiPanner" />
        <activity android:name=".PalakPanner" />
        <activity android:name=".MatarPanner" />
        <activity android:name=".DumAloo" />
        <activity android:name=".FryBhendi" />
        <activity android:name=".DalTadka" />
        <activity android:name=".VegKolhapuri" />
        <activity android:name=".KajuMasala" />
        <activity android:name=".DalFryVideo" />
        <activity android:name=".AlooPannerVideo" />
        <activity android:name=".ChannaButterVideo" />
        <activity android:name=".ShahiPannerVideo" />
        <activity android:name=".PalakPannerVideo" />
        <activity android:name=".MatarPannerVideo" />
        <activity android:name=".DumAlooVideo" />
        <activity android:name=".FryBhendiVideo" />
        <activity android:name=".DalTadkaVideo" />
        <activity android:name=".VegKalhapuriVideo" />
        <activity android:name=".KajuMasalaVideo" />
        <activity android:name=".ShevBhajiVideo" />
        <activity android:name=".ShevBhaji" />
        <activity android:name=".MalaiKofta" />
        <activity android:name=".Corn" />
        <activity android:name=".Lunch1" />
        <activity android:name=".lunchRecipes" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>